{% extends 'TwigBundle:Exception:base.html.twig' %}

{% block body %}
<div class="logo">
    <h1>{{ 'error.404.message'|trans }}</h1>
    <h2><strong>{{ status_code }}</strong> {{ status_text }}</h2>.
</div>
<div class="clearfix"></div>
{% endblock %}