# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Uploads
/web/uploads/avatars/*.png
/web/uploads/avatars/*.jpg

# Php Storm IDE Files
.idea/