<p>Hola {{ user.name }},</p>
<br>
<p>se ha creado una nueva cuenta en el sitio <a href="http://pilargamboa.org" target="_blank">pilargamboa.org</a> utilizando
este correo electr&oacute;nico, si usted no la ha solicitado o esta cuenta le parece sospechosa,
por favor enviar un mensaje de correo electr&oacute;nico a la direcci&oacute;n info@pilargamboacr.org;
para proceder la revisi&oacute;n y eliminaci&oacute;n de la cuenta correspondiente.</p>
<br>
<p>Si esta cuenta es correcta a partir de este momento puede ingresar utilizando las siguientes credenciales:</p>

<p>Nombre de Usuario: <strong>{{ user.username }}</strong></p>
<p>Contraseña: <strong>{{ rawPassword }}</strong></p>
<br>
<p>Muchas gracias,<p>
<br>
<p>Centro Diurno Pilar Gamboa</p>